# ignore raw data files
data/
# ignore vscode settings
.vscode/

# ignore pychache
**/__pycache__/**

# ignore pytest_cache
.pytest_cache/

# ignore jupyter notebook
*.ipynb

# ignore temporary directories
temp/